<h2>Snippets</h2>
<span><%= link "New Snippet", to: snippet_path(@conn, :new) %></span>
<input type="text" id="search-box"></input>
<div class='showcase-container'>
  <div class="side-menu" id="snippet-index-side-menu">
  </div>
  <div class='snippet-container' id='snippet-container'>
    <%= render CodesioWeb.SnippetView, "snippets.html", snippets: @snippets, endpoint: @conn %>
  </div>
</div>

<span id="common-js" data-main="<%= static_path(@conn, "/js/app.js") %>" />

