/* This file is for your main application css. */
@import "../node_modules/codemirror/theme/blackboard";
.tagify-me-text {
    border: 0;
    width: 100%;
    height: 100%;
}

.new-snippet-spacing {
    margin-top: 8%;
}
.tagify-me-ul {
    margin-top: 8px;
    margin-bottom: 0;
    display:block;
    text-decoration: none;
    color: rgb(5, 120, 175);
    margin-left: 3px;
    padding:0px;
}
.tagify-me-li {
    background-color: #E05f36;
    color: #eeeeee;
}
.snippet-container {
    // display: flex;
    // flex-flow: row wrap;
    // justify-content: flex-start;
    // align-items: flex-start;
    // min-width: 0px;
    margin-left: 10%;
    width: 1500px;
}
.snippet-area-container {
    // min-width: 0px;
    padding: 10px 10px 10px 10px;
    // flex-basis: 33%;
    // min-width: 0px;
    width: 480px;
    height: 400px;
}
.sorting-subblock-hidden {
    display: none;
}
#snippet-showcase {
    width: 80%;
    max-width: 2000px;
    position: relative;
}

.showcase-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 0px;
}

.logo {
    width: 519px;
    height: 71px;
    display: inline-block;
    margin-bottom: 1em;
    background-image: url("/images/snippy.png");
    background-size: 519px 80px;
}

input#search-box {
    position: relative;
    display: block;
    width: 60%;
    margin: {
        left: auto;
        right: auto;
        bottom: 30px;
    }
}
img.vote {
    width: 35px;
}

span.vote-container {
    float: right;
}
