/* This file is for your main application css. */
@import "../node_modules/codemirror/theme/blackboard";
.tagify-me-text {
    border: 0;
    width: 100%;
    height: 100%;
}

.new-snippet-spacing {
    margin-top: 8%;
}

.tagify-me-ul {
    margin-top: 8px;
    margin-bottom: 0;
    display:block;
    text-decoration: none;
    color: rgb(5, 120, 175);
    margin-left: 3px;
    padding:0px;
}

.tagify-me-li {
    background-color: #E05f36;
    color: #eeeeee;
}

.snippet-container {
    // display: flex;
    // flex-flow: row wrap;
    // justify-content: flex-start;
    // align-items: flex-start;
    // min-width: 0px;
    margin-left: 5%;
    flex: 100%;
}

div.snippet-page-snippet-list {
    background-color: #efefef;
}

.snippet-area-container {
    // min-width: 0px;
    padding: 15px 15px 15px 15px;
    width: 480px;
    height: 400px;
}

.sorting-subblock-hidden {
    display: none;
}

.btn-default {
    background-color: #69C54A !important;
    color: white !important;
}

#app-container {
    width: 90%;
    max-width: 2000px;
    position: relative;
}

.showcase-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: space-around;
    min-width: 0px;
}

.logo {
    width: 519px;
    height: 71px;
    display: inline-block;
    margin-bottom: 1em;
    background-image: url("/images/snippy.png");
    background-size: 519px 80px;
}

div.snippet-page-search-wrapper {
    margin-top: -2%;
    width: 100%;
    text-align: center;
}

input#search-box {
    width: 100%;
}

img.vote {
    width: 35px;
}

span.vote-container {
    float: right;
}

li.user-snippets-sample-list {
    display: flex;
    flex-flow: row nowrap;
    align-items: start;
    justify-content: center;
    background-color: #efefef;
    padding: {
        left: 10px;
        right: 10px;
        top: 2px;
        bottom: 2px;
    }
}
div.user-snippet {
    margin: {
        bottom: 10px;
    }
    background-color: #dedede;
}

h4#user-profile-snippet-title {
    margin: {
        bottom: 20px;
    }
}

div.tag-list {
    padding: {
        left: 10px;
        right: 10px;
        top: 2px;
        bottom: 2px;
    }
}

li.user-snippets-sample-list > * {
    flex: 20%;
}
